{% extends "base.html.twig" %}

{% block body %}

{% for message in app.flashes('error') %}
    <div style="color:red">
        {{ message }}
    </div>
{% endfor %}

<h2>Modifier demande {{ demande.id }} de {{ demande.nom }}</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{{ form_end(form) }}
<a href="{{ path('liste_demande_financement') }}">
    Retour à la liste
</a>
{% endblock %}